<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Scan Report</title>
		<style>
			#main {
				width: 60%;
				margin: 0 auto;
			}
			.section {
				width: 100%;
				display: block;
				clear: both;
				border-top: 1px solid;
			}
			.imagebox {
				width: 300px;
				float: left;
				margin: 2px;
				border-style: dotted;
				border-width: 2px;
				border-color: LightGray;
			}
		</style>
	</head>
	<body>
		<table>
		{% for ast in Assets %}
			<tr><td><div class="section"><h2> {{ ast.ip }} : {{ ast.port }} </h2></div></td></tr>
			{% if ast.svc_name == "http" or ast.svc_name == "https" %}
				<tr><td>
					<a href="{{ ast.svc_name }}://{{ ast.ip }}:{{ ast.port }}" target="_blank">
						<div class="imagebox">
							<img width="500px" src="{{ url_for('static', filename=png_path + '/' + ast.png_path) }}" /><br>
							{{ ast.svc_name }}://{{ ast.ip }}:{{ ast.port }}
						</div>
					</a>
				</td></tr>
				<tr><td>
					<div>
						<h5>&nbsp;&nbsp;&nbsp;&nbsp;finger print</h5>
						<p style="font-size: 12px">{{ ast.wappalyzer }}<br>{{ ast.status_code }}<br>{{ ast.content_len }}<br>{{ ast.title + "\t" + ast.cms + "\t" + ast.cert_info + "\t" + ast.server }}</p>

						<h5>&nbsp;&nbsp;&nbsp;&nbsp;diretories</h5>
						<p style="font-size: 12px">{{ ast.dirs|safe }}</p>
					</div>
				</td></tr>
			{% else %}
				<tr><td>
					<p style="font-size: 12px">{{ ast.nmap|safe }}</p>
				</td></tr>
			{% endif %}
		{% endfor %}
		</table>
	</body>
</html>